.c-item {
  height: 93vh;
}

.c-img {
  width: 100%; /* Ensures image takes full width */
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

/* Navbar link hover color */
.navbar .nav-link:hover,
.navbar .nav-link:hover i {
  color: #ff8000;
}

/* Button base and hover color */
.btn-primary {
  background-color: #ff8000; /* Base color */
  border-color: #ff8000;
}

.btn-primary:hover {
  background-color: #cc6600; /* Darker shade on hover */
  border-color: #cc6600;
}


.card-img-top {
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  width: 100%; /* Ensure the image takes the full width of the card */
}
